bind-addr: 0.0.0.0:{{ dev_server_port }}
{% if code_server_pass is defined %}
auth: password
password: '{{ code_server_pass }}'
{% else %}
auth: none
{% endif %}
{% if cert_name is defined %}
cert: true
{% else %}
cert: false
{% endif %}