{
    "git.ignoreLegacyWarning": true,
    "window.menuBarVisibility": "visible",
    "git.enableSmartCommit": true,
    "workbench.tips.enabled": false,
    "telemetry.enableTelemetry": false,
    "search.smartCase": true,
    "git.confirmSync": false,
    "git.autofetch": true,
    "workbench.colorTheme": "Default Dark+",
    "ansible.ansible.useFullyQualifiedCollectionNames": true,
    "ansible.executionEnvironment.enabled": true,
    "ansible.executionEnvironment.image": "{{ ansible_image }}",
    "files.associations": {
        "*.yml": "ansible"
    },
    "redhat.telemetry.enabled": false,
    "security.workspace.trust.untrustedFiles": "open",
    "files.autoSave": "off",
    "python.languageServer": "None"
}