---
- name: Upgrade all packages (dnf)
  ansible.builtin.dnf:
    name: '*'
    state: latest
    update_only: true
  when: ansible_pkg_mgr == "dnf"
  register: patchingresultdnf

- name: Display DNF Patching Results
  ansible.builtin.debug:
    msg: "{{ patchingresultdnf.results }}"
  when: ansible_pkg_mgr == "dnf"
